<style>
    #fee {
        border: 1px solid blue;
    }
    #content{
        border: 1px solid green;
    }
</style>

<div id="main_layout" ng-class="Main.pageStateResolver.activePageName" role="main"
     style="border:1px solid red; padding: 10px;"
     aria-label="{{ 'aria.main-label' | translate }}">
    <!--
        <ci-loader loading="Main.pageStateResolver.pageLoading">
        -->

    <ci-notifications></ci-notifications>
    <div id="content" ui-view="content"></div>
    <!--
    </ci-loader>
    -->
</div>

<loading></loading>