<h3>select client profile</h3>

<h4>Create New Profile</h4>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Profile Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<h4>Select Client Profile</h4>
<!--<a target=="_blank" href="javascript:void(0)" ui-sref="main.evolution.fee.profileSearch">Family group fee proposal</a>-->
<button ng-click="$ctrl.selectClientProfileService.goToFeeProposal()" translate>linkToFeeProposal</button>


<ci-footer></ci-footer>