<style>
    .active{
        color: red;
    }
</style>

<header id="header" class="header nav-down" role="banner">
    <div class="container">
        header
    </div>
    <div ng-if="$ctrl.stepIndicator" id="step-indicator">
        <ul>
            <!--{ active: $ctrl.isActive }-->
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 1}">
                1
            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator ===  2 }">2

            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 3}">3

            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 4}">4

            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 5}">5

            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 6}">6

            </li>
            <li ng-class="{ active: $ctrl.pageStateResolver.stepIndicator === 7}">7

            </li>
        </ul>
    </div>
</header>