<style>
    .active {
        color: red;
    }

    #step-indicator ul li {
        display: inline;
    }
</style>

<header id="header" class="header nav-down" role="banner">

    <a ui-sref="main.evolution.selectClientProfile">Create/Open existing profile</a>

    <div id="ecissFlag">
        <input type="checkbox" ng-checked="$ctrl.isEcissUser" disabled>Eciss
    </div>

    <div id="languageSwitcher">
        <language-switcher></language-switcher>
    </div>

    <div id="help">
        <a ui-sref="main.evolution.help">Help </a>
    </div>
current state =
{{$ctrl.currentState}}

    <div id="step-indicator" ng-if="$ctrl.currentState !== 'main.evolution.selectClientProfile' ">
        <ul>
            <!--{ active: $ctrl.isActive }-->
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 1}">
                1
            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator ===  2 }">2

            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 3}">3

            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 4}">4

            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 5}">5

            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 6}">6

            </li>
            <li ng-class="{ active: $ctrl.pageConfigService.stepIndicator === 7}">7

            </li>
        </ul>
    </div>
</header>