.strangeTableStyles {//this is a page name
  $headingColor: #fff1f1;
  $rowHeight: 26px;
  div {
    overflow:hidden;
  }
  .strangeTableScrollableContainer {
    display:inline-block;
    max-height:300px;
    margin:0 auto;
    overflow: scroll;
  }
  .tableWidth {
	//width:1113px;
  }

  .addRemove {
    width:125px;
    display:inline;
    float:left;
    border: 1px solid black;
    background-color: $headingColor;
    padding: 2px;
  }

  .tableSorter {
    text-align: left;
    border:none;
    background-color: $headingColor;
  }

  .searchBar{
    width:50%;
  }
  .addRemoveRow {
      width:111px;
      button {
      width:100%;
        text-align: right;
        border:none;
        height: $rowHeight;
      }
  }
  .id, .clientName, .profileName, .modificationDate, .logs, .pdf, .status, .fundsReceived, .cafReceived, .createdBy, .creationDate, .addRemoveHeading, .addRemoveRow {
    display:inline;
    float:left;
    border: 1px solid black;
    background-color: $headingColor;
    padding: 2px;
  }

  .id {
    width: 50px;
  }
  .profileName {
    width: 85px;
  }
  .clientName, .createdBy, .status {
    width: 80px;
  }
  .modificationDate, .creationDate {
    width:230px;
  }
  .fundsReceived, .cafReceived {
    width: 50px;
  }
  .logs, .pdf{
    width: 50px;
  }

  .newRow {
    clear:both;
  }
  .headerRow {
	height:48px;
  }

  .tableRow {
	height:$rowHeight;
  }

  .expandContract {
    padding: 0px;
	height:$rowHeight;
  }
  .subGroup{
    /* added some color to help identify what is a sub group*/
    .id, .clientName, .profileName, .modificationDate, .logs, .pdf, .status, .fundsReceived, .cafReceived, .createdBy, .creationDate, .addRemoveRow {
      background-color: #f1fff1;
    }
    .indented {
      /* existing design indents sub groups */
      padding-left: 19px;
    }
  }
}
@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "node_modules/zen-grids/sass/zen-grids";
