
<input ng-model="$ctrl.searchInput" placeholder="{{'searchPlaceHolder' | translate}}" />
<table>
    <tr>
        <th ng-repeat="(key, value) in $ctrl.data[0].profileSummary track by $index">
            <button ng-click="$ctrl.changeOrder(key)">{{key}}</button>
        </th>
    </tr>
    <tr ng-repeat="profileGroup in $ctrl.data track by $index">
        <td ng-repeat="(key, prop) in profileGroup.profileSummary track by $index" class="{{key}}">
            {{prop}}
        </td>
    </tr>

</table>