<div class="strangeTableStyles">
    <input
        class="searchBar"
        ng-model="$ctrl.searchInput"
        placeholder="{{'searchPlaceHolder' | translate}}"
        ng-change="$ctrl.search($ctrl.searchInput)"
    />
    <div ng-if="::$ctrl.updateSelected">
        <input ng-model="$ctrl.showSelected" ng-click="$ctrl.filterSelected($ctrl.showSelected)" type="checkbox" /> Show only selected profiles
    </div>
    <!--

    <table ng-repeat="(key, profileGroup) in $ctrl.data track by $index">
        <tr ng-if="$first">
            <th ng-repeat="(key, value) in $ctrl.data[0].profileSummaries[0] track by $index">
                <button ng-click="$ctrl.changeOrder(key)">{{key}}</button>
            </th>
        </tr>
        <tr>
            <td ng-repeat="(key, prop) in profileGroup.profileSummaries[0] track by $index" class="{{key}}">
                <button ng-if="$first" ng-click="$ctrl.expandOrCollapse($parent.$parent.$index)">
                    +
                </button>
                {{prop}}
            </td>
        </tr>
        <tr ng-if="!$first && $ctrl.expandSubGroup[$parent.$index]" ng-repeat="(key, profileSummary) in profileGroup.profileSummaries track by $index" class="{{key}}">
            <td ng-repeat="(key, prop) in profileSummary track by $index" class="{{key}}">{{prop}}</td>
        </tr>
    </table>
    -->
    <!-- used to generate table headers, that are clickable and facilitate sorting -->
    <div>
        <div style="display:table;" class="newRow">
            <div style="display:table-row;" same-height-as-parent ng-repeat="(key, value) in $ctrl.filteredData[0].groupHeading track by $index" ng-if="::key !== 'id' && key !== 'isSelected'" ng-class="key">
                <button class="tableSorter" ng-click="$ctrl.changeOrder(key)">{{"strangeTable." + key | translate}}</button>
            </div>
            <!--
            <div style="display:table-row;" same-height-as-parent class="strangeTableAddRemove">
                <button class="tableSorter" ng-click="$ctrl.changeOrder(key)" translate>strangeTable.add</button>
            </div>
            -->
            <div style="display:table-row;" same-height-as-parent class="addRemove" translate>
                strangeTable.addRemove
            </div>
        </div>
    </div>
    <div class="strangeTableScrollableContainer">
        <div ng-repeat="(key, profileGroup) in $ctrl.filteredData track by $index">

            <!-- used to generate group headers -->
            <div class="newRow">
                <div class="groupHeader" ng-repeat="(key, prop) in profileGroup.groupHeading track by $index" ng-if="::key !== 'id' && key !== 'isSelected'" ng-class="key">
                    <button ng-if="key === 'profileName' && profileGroup.profileSummaries.length" class="expandContract" ng-click="$ctrl.expandOrCollapse($parent.$parent.$parent.$index)">
                        +
                    </button>
                    {{prop}}
                </div>
                <div style="display:table;" same-height-as-parent class="addRemoveHeading" >
                    <button class="addRemoveHeading" ng-click="$ctrl.toggleSelect(profileGroup.groupHeading)" translate>{{!profileGroup.groupHeading.isSelected ? 'strangeTable.add' : 'strangeTable.remove'}}</button>
                    <!--
                    <button ng-if="profileGroup.groupHeading.isSelected" ng-click="$ctrl.toggleSelect(profileGroup.groupHeading)" >Remove</button>
                    <button ng-if="!profileGroup.groupHeading.isSelected" ng-click="$ctrl.toggleSelect(profileGroup.groupHeading)" >Add</button>
                    -->
                </div>
            </div>
            <!-- used to generate subrows of a group -->

            <div style="display:table-row;" class="newRow subGroup" ng-if="profileGroup.expandSubGroup" ng-repeat="(key, profileSummary) in profileGroup.profileSummaries track by $index" >
                <div class="groupRow" ng-repeat="(key, prop) in profileSummary track by $index" ng-if="::key !== 'id' && key !== 'isSelected'" ng-class="key">{{prop}}</div>
                <div same-height-as-parent class="addRemoveRow" >
                    <button class="addRemoveRow" ng-click="$ctrl.toggleSelect(profileSummary)" translate>{{!profileSummary.isSelected ? 'strangeTable.add' : 'strangeTable.remove'}}</button>
                </div>
            </div>

        </div>
    </div>
</div>